.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  .logo {
    $padding: 8px;

    @include pos-center();

    a {
      display: block;
      padding: $padding;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    // 요소와의 간격 -> 요소 고유의 속성과는 뉘앙스가 좀 다름
    // 일종의 레이아웃 이므로
    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .gnb-auth {
          a {
            @include text-style(14, $secondary);
            margin-left: 8px;
            font-weight: 700;

            ~ a {
              margin-left: 12px;
            }

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    .logo {
      position: static;
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        // top: 100%; 부모의 높이를 기준으로 잡음
        // 그래서 이를 사용해서 내부 요소 다음에 붙여 쓸 수 있음
        // (calc와 같이 쓰면 금상첨화) -> 단위가 다른 것을 계산해줌
        top: calc(100% + 8px);
        left: 0;
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 4px;
        box-shadow: $dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
